html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: none;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Karla', 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-family: 'Markazi Text';
	font-size: 48px;
	font-weight: 700;
	margin: 0;
	line-height: 2.5rem;
}

h2 {
	font-family: 'Markazi Text';
	font-size: 30px;
	font-weight: 500;
}

h3 {
	font-family: 'Markazi Text';
	font-size: 24px;
	font-weight: 500;
}

a:visited {
	color: black;
}

p {
	font-size: 16px;
	font-weight: 300;
}

button {
	font-size: 16px;
	font-weight: 800;
	border-radius: 16px;
	background-color: #f4ce14;
	padding: 15px 25px 15px 25px;
	cursor: pointer;
}

img {
	border-radius: 16px;
}

/* Media Query for Tablets and Larger Screens */
@media screen and (min-width: 1024px) {
	h1 {
		font-size: 64px;
		line-height: normal;
	}

	h2 {
		font-size: 40px;
	}

	h3 {
		font-size: 28px;
	}

	p {
		font-size: 20px;
	}

	button {
		font-size: 20px;
		padding: 20px 30px 20px 30px;
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
