.intro {
    background-color: #495E57;
    color: white;
    display: flex;
    gap: 30px;
}

.intro h1 {
    color: #F4CE14;
}

.intro p {
    margin: 25px 0px 50px 0px;
    letter-spacing: 1px;
    line-height: 1.75rem;
}

.intro img {
    display: none;
    box-shadow: 10px 10px 50px -5px rgba(0,0,0,0.75);
}

@media screen and (min-width: 1024px) {
    .intro {
        text-align: left;
    }

    .intro-divide {
        width: 50%;
    }

    .intro img {
        display: flex;
        position: absolute;
        left: 60vw;
        width: 350px;
    }
}